.navbar-toggler:focus{
  box-shadow: none;
}
.toggle-mode{
  background:yellow;
  width:45px;
  height:45px;
  /* border-radius: 50%; */
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.toggle-mode:nth-child(1){
  background:blue;
  border:1px solid black;
}